/*=========== CSS reset ===========*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*=========== styles ===========*/

/*=========== header ===========*/
 header {
     background-color: #030027;
     color: white;
     display: flex;
     justify-content: space-between;
     height: 5vh;
     align-items: center;
     padding-right: 20px;
 }

 .links {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     margin-left: 20px;
 }

 .rechts {
     display: flex;
     flex-direction: row;
     flex-basis: 50%;
     justify-content: flex-end;
     gap: 30px;

 }

/*=========== Main ===========*/
body {
    background-color: #F2F3D9;
}

.titel{
    color: #030027;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 20vh;
    margin: 5px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section > article {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    margin: 20px;
    background-color: #c16e70;
    height: 350px;
    flex-basis: 280px;
    flex-shrink: 1;
    flex-grow: 0;
}
